@(puns: List[Pun])

@main("Pun Trackr") {

    @if(puns.isEmpty) {
        <div class="alert">
            <strong>Hmmm!</strong> Nothing yet.
        </div>
    } else {
        @for(p <- puns) {
            <div>Pun: <em>@p.description</em>
                (<a href="@routes.PunController.delete(p.id.get)">
                <i class="icon-trash"></i>Delete
                </a>)
                <img src="@routes.ImageController.index(p.imagePath.getOrElse(""))">
            </div>
        }
    }
}
