<% if @puns.empty? %>
<div class="alert">
    <strong>Hmmm!</strong> Nothing yet.
</div>
<% else %>

  <table class="table table-striped">
  <% @puns.each do |pun| %>
      <tr>
          <td>
              Texte:<br /> <em><%= pun.description %></em>
          </td>
          <td>
              <img class="thumbnail" src="@routes.ImageController.index(p.imagePath.getOrElse("default"))">
          </td>
          <td>
              <div>
                  <a href="@routes.PunController.upVote(p.id.get, 1)"><i class="icon-chevron-up"></i></a>
                  <a href="@routes.PunController.upVote(p.id.get, -1)"><i class="icon-chevron-down"></i></a>

                  <% if pun.rating.to_i > 0 %>
                    <span class="badge badge-success"><%= pun.rating %></span>
                  <% else %>
                    <span class="badge badge-warning"><%= pun.rating %></span>
                  <% end %>
              </div>

              <br />
              <i class="icon-trash"></i><%= link_to "Delete", pun_path(pun.id), :method => :delete %>
          </td>
      </tr>
  <% end %>
<% end %>